package users

import (
	templx "github.com/a-h/templ"
	"github.com/edlingao/hexago/web/templates"
)

type UserShellVM struct {
	Title string
	Error error
}

templ UserShell(vm UserShellVM, body templx.Component) {
	@templates.Index(templates.IndexVM{
		Title: vm.Title,
		Error: vm.Error,
	}) {
		<div class="min-h-screen bg-black text-white">
			@body
		</div>
	}
}
