package views

import "github.com/edlingao/hexago/web/templates"

type UserShellVM struct {
	Title string
	Error error
}

templ UserShell(vm UserShellVM) {
	@templates.Index(templates.IndexVM{
		Title: vm.Title,
		Error: vm.Error,
	}) {
		<div class="min-h-screen bg-black text-white">
			{ children... }
		</div>
	}
}
